/* 

Sea blue: #3FBCED
Tangeringe: #F18F01
Jelly bean: #DB504A
White smoke: #F7F7F7
Jet: #353531

*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    overflow-x: hidden;
    background-color: #F7F7F7;
}

h1 {
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #353531;
    font-size: 3em;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    color: #353531;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #353531;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #F7F7F7; 
}

::-webkit-scrollbar-thumb {
    background: #353531; 
}

::-webkit-scrollbar-corner {
    background: #F7F7F7;
}

/* HEADER START */
header {
    position: fixed;
    width: 100vw;
    background-color: rgba(247, 247, 247, 0.82);
    height: 7.5vh;
    line-height: 7.5vh;
    box-shadow: 0 0 1vh;
    z-index: 2147483646;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

/* SVG LOGO START */
#SVGLOGO {
    height: 5.5vh;
    padding: 1vh 1vw;
    cursor: pointer;
}

.SVGLOGO_line {
    fill: none;
    stroke: #353531;
    stroke-miterlimit: 10;
    stroke-width: 21px;
}

#SVGLOGO_ellipseLeft {
    stroke: #353531;
    stroke-miterlimit: 10;
    stroke-width: 21px;
    fill: #353531;
}

#SVGLOGO_ellipseRight {
    stroke: #353531;
    stroke-miterlimit: 10;
    stroke-width: 18.5px;
    fill: #353531;
}
/* SVG LOGO FINISH */

nav ul div:nth-child(1) {
    height: 7.5vh;
    width: 15vw;
    padding-left: 2.5vw;
}

nav ul div:nth-child(2) {
    height: 7.5vh;
    width: 27.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul div:nth-child(3) {
    align-self: center;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul div:nth-child(4) {
    height: 7.5vh;
    width: 27.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul div:nth-child(5) {
    height: 7.5vh;
    width: 15vw;
    padding-right: 2.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul div:nth-child(5) svg {
    margin: 0 0.3vw;
    cursor: pointer;
}

nav li {
    text-align: center;
    text-decoration: none;
    color: #353531;
    margin: 0 0.75vw;
    position: relative;
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
    font-size: 1.1em;
    text-transform: uppercase;
}

nav li::after {
    border-bottom: 0.5vh solid #353531;
    content: "";
    left: 0;
    margin-top: calc(0.5vh / 2 * -1);
    position: absolute;
    right: 0;
    top: 68%;
    transition: 0.25s;
}

nav li:hover {
    cursor: pointer;
}

nav li:hover::after {
    border-bottom: 0.5vh solid #353531;
    content: "";
    left: 0;
    margin-top: calc(0.5vh / 2 * -1);
    position: absolute;
    right: 0;
    top: calc(32% - 0.25vh);
    transition: 0.25s;
}
/* HEADER FINISH */

/* Universal section styling */
section {
    height: auto;
    min-height: 25vh;
    width: 80vw;
    background: #F7F7F7;
    padding: 5vh 10vw;
}

.sectionHeader {
    display: flex;
    justify-content: center;
}

.sectionHeader h1 {
    text-align: center;
    position: relative;
    width: auto;
}

.sectionHeader h1::after { 
    border-bottom: 0.2em solid #353531;
    content: "";
    left: 0;
    margin-top: calc(0.2em / 2 * -1);
    position: absolute;
    right: 0;
    top: 82.5%;
}

.sectionContent {
    padding: 4vh 5vw;
}

.sectionContent p {
    font-size: 1.25em;
    line-height: 1.6em;
    padding: 1vh 0;
}
/* End of Universal section styling */

/* HOME START */
.home {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-image: url(../resources/splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#splashH1 {
    color: #F7F7F7;
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
    font-size: 7.5em;
    text-transform: uppercase;
    margin-top: 60vh;
}
/* HOME FINISH */

/* BIOGRAFIE START */

.biografieFotos {
    width: 80vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
}

.biografieFoto {
    width: 17.5vw;
    height: 17.5vw;
    border-radius: 50%;
}

.portretKoen {
    background-image: url(../resources/band/portret_Koen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.portretBram {
    background-image: url(../resources/band/portret_Bram.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.portretGeert {
    background-image: url(../resources/band/portret_Geert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.portretLuuk {
    background-image: url(../resources/band/portret_Luuk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* BIOGRAFIE FINISH */

/* CONTACT START */
.contact .contact-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact .contact-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact form {
  height: 30%;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.contact form fieldset {
   border: none;
   display: flex;
   flex-direction: column;
}

.contact .submit {
  width: 200px;
  height: 50px;
}
/* CONTACT FINISH */

.shows {
    background: #3FBCED;
}

.shows h1,
.shows p {
    color: #F7F7F7;
}

.shows h1::after {
    border-bottom: 0.2em solid #F7F7F7;
}

.muziek {
    background: #F18F01;
}

.muziek h1,
.muziek p {
    color: #F7F7F7;
}

.muziek h1::after {
    border-bottom: 0.2em solid #F7F7F7;
}

.contact {
    background: #DB504A;
}

.contact h1,
.contact p {
    color: #F7F7F7;
}

.contact h1::after {
    border-bottom: 0.2em solid #F7F7F7;
}