/* sea blue: #006E90
Tangeringe: #f18f01
Jelly bean: #DB504A
White smoke: #f7f7f7
Jet: #353531
 */


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    overflow-x: hidden;
    background-color: #F7F7F7;
}

h1 {
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* HEADER START */
header {
    position: fixed;
    width: 100vw;
    background-color: rgba(247, 247, 247, 0.82);
    height: 7.5vh;
    line-height: 7.5vh;
    box-shadow: 0 0 1vh;
    z-index: 2147483646;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

/* SVG LOGO START */
#SVGLOGO {
    height: 5.5vh;
    padding: 1vh 1vw;
    cursor: pointer;
}

.SVGLOGO_line {
    fill: none;
    stroke: #353531;
    stroke-miterlimit: 10;
    stroke-width: 21px;
}

#SVGLOGO_ellipseLeft {
    stroke: #353531;
    stroke-miterlimit: 10;
    stroke-width: 21px;
    fill: #353531;
}

#SVGLOGO_ellipseRight {
    stroke: #353531;
    stroke-miterlimit: 10;
    stroke-width: 18.5px;
    fill: #353531;
}
/* SVG LOGO FINISH */

nav ul div:nth-child(1) {
    height: 7.5vh;
    width: 15vw;
    padding-left: 2.5vw;
}

nav ul div:nth-child(2) {
    height: 7.5vh;
    width: 27.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul div:nth-child(3) {
    align-self: center;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul div:nth-child(4) {
    height: 7.5vh;
    width: 27.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul div:nth-child(5) {
    height: 7.5vh;
    width: 15vw;
    padding-right: 2.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul div:nth-child(5) svg {
    margin: 0 0.3vw;
    cursor: pointer;
}

nav li {
    text-align: center;
    text-decoration: none;
    color: #353531;
    margin: 0 0.75vw;
    position: relative;
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
    font-size: 1.1em;
    text-transform: uppercase;
}

nav li::after {
    border-bottom: 0.5vh solid #353531;
    content: "";
    left: 0;
    margin-top: calc(0.5vh / 2 * -1);
    position: absolute;
    right: 0;
    top: 68%;
    transition: 0.25s;
}

nav li:hover {
    cursor: pointer;
}

nav li:hover::after {
    border-bottom: 0.5vh solid #353531;
    content: "";
    left: 0;
    margin-top: calc(0.5vh / 2 * -1);
    position: absolute;
    right: 0;
    top: calc(32% - 0.25vh);
    transition: 0.25s;
}
/* HEADER FINISH */

/* HOME START */
.home {
    height: 100vh;
    width: 100vw;
    background-image: url(../resources/splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#splashH1 {
    color: #F7F7F7;
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
    font-size: 7.5em;
    text-transform: uppercase;
}
/* HOME FINISH */

/* BIOGRAFIE START */
.biografie{
    height: 100vh;
    width: 100vw;
    background-color: #f7f7f7;
}
/* BIOGRAFIE FINISH */

/* SHOWS START */
.shows{
    height: 100vh;
    width: 100vw;
    background-color: yellow;
}
/* SHOWS FINISH */

/* VIDEOS START */
.videos{
    height: 100vh;
    width: 100vw;
    background-color: pink;
}
/* VIDEOS FINISH */

/* MUZIEK START */
.muziek{
    height: 100vh;
    width: 100vw;
    background-color: green;
}
/* MUZIEK FINISH */

/* FOTOS START */
.fotos{
    height: 100vh;
    width: 100vw;
    background-color: powderblue;
}
/* FOTOS FINISH */

/* CONTACT START */
.contact{
    height: 100vh;
    width: 100vw;
    background-color: sienna;
    color: white;
}

.contact h1 {
  margin: 0 auto;
}

.contact .contact-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact .contact-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact form {
  height: 30%;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;


}
.contact form label {
  
}
.contact form fieldset {
   border: none;
   display: flex;
   flex-direction: column;
}

.contact .submit {
  width: 200px;
  height: 50px;
}
/* CONTACT FINISH */
